body{
    /* background-image: url(cabel.jpg);*/
    background-position: right;
    background-repeat: no-repeat;
    height: 55vh;
    background-size: 72vh 150px;
    background-color: rgb(161, 193, 193);
    
}
.heading h1{
    color: black;
    font-weight: 800;
    text-align: center;
    font-style: calc();
    font-size: xx-large;
    padding: 40px;
    text-align: centre;
    background-color: darkslategray;
    color: white;

}
.portal {
    color: black;
    font-weight: 300;
    font-style: calc();
    font-size: xx-large;
    margin-left: 5px;
margin-right: 1350px;

}
a:link {
    color:black;
  }
  
  
  a:visited {
    color: green;
  }
  
  
  a:hover {
    color: hotpink;
  }
  

  a:active {
    color: blue;
  }
  .inputBox {
    color: black;
    font-weight: 100;
    text-align: center;
    font-style: calc();
    font-size: xx-large;

    margin-left: 500px;
margin-right: 500px;
margin-top: 1px;

  }
  .portal h1{
    color: black;
    font-weight: 100;
    font-style: calc();
    font-size: xx-large;

    margin-left: 700px;
margin-right: 500px;
margin-top: 1px;
  }