body{
    text-align: right;
    text-decoration-color:whitesmoke ;
    font-size: x-large;
    background-color: rgb(125, 163, 163);
    
    background-position:cover ;
    background-repeat: no-repeat;
    background-size: 300vh 700px;
}
.welcome h1{
    color:black;
    font-weight: 1000;
    text-align: center;
    font-style: calc();
    font-size: 450%;
}
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  .intro {
    margin-left: 800px;
    text-align: left;
    border-left: 5px black;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: 5px;
    

  }
  .about-section{
    padding: 40px;
    text-align: centre;
    background-color: darkslategray;
    color: white;
  }
  