<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <link rel="stylesheet"type="text/css"href="C:\Users\HP-PC\Desktop\paybill1\index1.css">
    
    <link rel="stylesheet"type="text/css"href="index1.css">
    <title>Document</title>
</head>
<body>
    <a href="/signupp">REGISTER</a> &nbsp;
    <a href="/login">LOGIN</a> &nbsp;
    <a href="/about">ABOUT US</a> &nbsp;
    <div class="welcome">
    <h1> WELCOME TO BILL PAY </h1>
    </div>

</body>
</html>